USE [master]
GO
/****** Object:  Database [Rubica]    Script Date: 09/01/2025 03:12:13 ******/
CREATE DATABASE [Rubica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rubica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rubica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rubica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rubica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rubica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rubica]
GO
/****** Object:  Table [dbo].[Persone]    Script Date: 09/01/2025 03:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persone](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](25) NOT NULL,
	[Cognome] [varchar](25) NOT NULL,
	[Indirizzo] [varchar](50) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Eta] [int] NOT NULL,
 CONSTRAINT [PK_Persone] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 09/01/2025 03:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[username] [varchar](10) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persone] ON 

INSERT [dbo].[Persone] ([ID], [Nome], [Cognome], [Indirizzo], [Telefono], [Eta]) VALUES (13, N'Kevin', N'Dalpathadu', N'Via Bari', N'3896157487', 29)
INSERT [dbo].[Persone] ([ID], [Nome], [Cognome], [Indirizzo], [Telefono], [Eta]) VALUES (14, N'Amanda', N'Somasiri', N'Via Parma 23', N'1234567890', 25)
INSERT [dbo].[Persone] ([ID], [Nome], [Cognome], [Indirizzo], [Telefono], [Eta]) VALUES (15, N'musharrif', N'Mohammed', N'Via Roma 23', N'1324657980', 28)
SET IDENTITY_INSERT [dbo].[Persone] OFF
GO
INSERT [dbo].[Utenti] ([username], [password]) VALUES (N'admin', N'1234')
INSERT [dbo].[Utenti] ([username], [password]) VALUES (N'kevin', N'1111')
INSERT [dbo].[Utenti] ([username], [password]) VALUES (N'turing', N'1111')
GO
USE [master]
GO
