<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="DbUsername" value="sa" />
		<add key="DbPassword" value="sa" />
		<add key="DbServer" value="KEVIN" />
	</appSettings>
</configuration>